@using UrlShortener.Data
@model UrlShortener.Models.UserHistoryViewModel

<div class="row"style="margin-top:40px;">
    <h3>History for @Model.FirstName @Model.LastName</h3>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Url</th>
            <th>Views</th>
        </tr>
        @foreach (URL u in Model.Urls)
            {
            <tr>
                <td>@u.UrlOrig</td>
                <td>@u.Views</td>
            </tr>
        }
    </table>

</div>