<div class="container">
    <div class="page-header">
        <h1>Welcome to Shorties!</h1>
    </div>
    <h3>Shorten your urls and make them easier to send, save, or include in documents or projects.</h3>
    <h4>
        Bonus! Register with us and all your urls will be saved! You can view your history at any time!
    </h4>
    <a href="/home/shorten" class="btn btn-lg btn-danger">Shorten Link</a>
    <a href="/home/history" class="btn btn-lg btn-warning">View My History</a>
</div>