<div class="container">
    <div class="row" style="margin-top:40px;">
        <div class="col-md-6 col-md-offset-3">
            <input type="text" id="orig-url" class="form-control" placeholder="Enter your url here" />
            <br />
            <button class="btn btn-success" id="shorten">Submit</button>
        </div>
        <div class="row col-md-6 col-offset-3 result">
            <h4>Your shortened url is:</h4>
            <br />
            <h3 id="short-url-tag"></h3>
        </div>
    </div>
</div>

@section scripts{
    <script src="/Scripts/shorten.js"></script>
}